section.about
      h4 // About Myself
      .face-lockup
         .face-img: span
      p.blurb
         strong Welcome, guys! 
         br
         strong I am ready to make something really cool for you.
         br
         |          I have got some experience in graphics, web-design, mobile developing and
         |          programming. Looking for an interesting work right now. If you U need something 
         |          digital, fresh and unusual, will be serious in our future conversation and ready to pay
         |          for good work, so you have found the necessary web-page. Yes, I can say a 
         |          lot about myself, but I prefer my works to tell about me.
      .skill-lockup