section.about
	#about
	h4 Обо мне
	.face-lockup
		.face-img: span
	p.blurb
		strong Привет! 
		br
		strong Меня зовут Никита и я амбициозный студент.
		br
		| 		На данный момент имею багаж полезных знаний и навыков в области программирования, разработки мобильного ПО и дизайна.
		|     Ищу интересную работу. Я готов стать частью команды, либо принять заказ.
		|     В виде заказа ожидаю графический дизайн или сайт-визитку. 
		|		Оставляйте свои предложения по работе в разделе "Письмо" или свяжитесь со мной любым удобным для вас способом. 