section.about
	#about
	h4 Обо мне
	.face-lockup
		.face-img: span
	p.blurb
		strong Привет! 
		br
		strong Я могу делать несложные качественные проекты.
		br
		|     У меня есть опыт в графике, веб-дизайне, разработке мобильного ПО и программировании.
		|     На данный момент ищу интересную работу. Я готов стать частью команды, либо принять заказ.
		|     В виде заказа ожидаю графический дизайн или сайт-визитку. 
		|     Заранее рассчитаю свои силы и требуемое время.