section.contact
	#contact
		h4 Контакты
		//Contacts
		.social-links
			a.icon-vk(href="https://vk.com/nikita5makarov")
			a.icon-be(href="https://www.behance.net/nikitamakarov")
			a.icon-sky(href="skype:nikitaznew?call")
			a.icon-lin(href="https://ru.linkedin.com/in/nikita-makarov-284376129")
		hr.bar
		a.is-link(href="mailto:nikitjjam@gmail.com") nikitjjam@gmail.com