mixin nav-content()
   ul
     li: a(href="#about") Обо мне
     li: a(href="#portfolio") Портфолио
     li: a(href="#articles") Статьи
     li: a(href="#notes") Заметки
     li: a(href="#contacts") Контакты
     
.mobile-nav
      +nav-content()

footer
   .footer-position
      h3.logo.round НМ

      nav.site-nav
         +nav-content()

      .mobile-nav-toggle: span