mixin nav-content()
   ul
     li: a(href="#about") About
     li: a(href="#design") Design
     li: a(href="#articles") Articles
     li: a(href="#mobile") Mobile
     li: a(href="#notes") Notes
     li: a(href="#contacts") Contacts
     
.mobile-nav
      +nav-content()

footer
   .footer-position
      h3.logo.round NM

      nav.site-nav
         +nav-content()

      .mobile-nav-toggle: span