section.form
   #letter
   h4 Начнем работать вместе ?
   form(method="POST" action='//formspree.io/{{ site.data.settings.email }}')
      label.half
         span Ваше имя
         input(type='text', name='name')

      label.half
         span Ваша почта
         input(type='email', name='_replyto')

      label
         span Письмо
         textarea(name='message')

      .wrap
         input(type='submit', value='Отправить')