header
    .header-position
        h1.logo Nikita Makarov
        nav.site-nav
           ul
             li: a(href="#about") About
             li: a(href="#design") Desi
             li: a(href="#articles") Arti
             li: a(href="#mobile") Mobi
             li: a(href="#desktop") Desk
             li: a(href="#notes") Note
             li: a(href="#contacts") Conta
        a(href="mailto:nikitjjam@gmail.com").email-link + email me