mixin nav-content()
   ul
     li: a(href="#about") About
     li: a(href="#design") Desi
     li: a(href="#articles") Arti
     li: a(href="#mobile") Mobi
     li: a(href="#desktop") Desk
     li: a(href="#notes") Note
     li: a(href="#contacts") Conta
     
.mobile-nav
      +nav-content()

header
   .header-position
      h1.logo NM

      nav.site-nav
         +nav-content()

      a(href="mailto:nikitjjam@gmail.com").email-link + email me

      .mobile-nav-toggle: span