mixin nav-content()
   ul
     li: a(href="#about") About
     li: a(href="#portfolio") Portfolio
     li: a(href="#articles") Articles
     li: a(href="#notes") Notes
     li: a(href="#contacts") Contacts
     
.mobile-nav
      +nav-content()

header
   .header-position
      h1.logo NM

      nav.site-nav
         +nav-content()

      .mobile-nav-toggle: span
      
      h1
       span Nikita Makarov
       
      p.centered Thinker // Designer // Maker