section.contact
	background: #eee
	text-align: center
	margin-bottom: 30px

	h4
		text-align: center
		text-transform: uppercase
		color: $text-color
		padding-bottom: 30px
		padding-top: 30px
		@media (max-width: 498px)
			font-size: 14px
			padding-top: 0px

	.social-links
		max-width: 700px
		margin: 0px auto 50px
		+display(flex)
		+justify-content(space-around)
	
		.icon-vk, .icon-be, .icon-sky, .icon-lin
			+size(65px)
			+transition(all .1s ease-in-out)
		
			&:hover
				+transform(scale(1.3))
		
			@media(max-width: 470px)
				+size(50px)
	
	   .icon-vk
			background: url(/assets/img/icons/vk.png)
				size: cover
	
		.icon-be
			background: url(/assets/img/icons/behance.png)
				size: cover
	
		.icon-sky
			background: url(/assets/img/icons/skype.png)	
				size: cover
	
		.icon-lin
			background: url(/assets/img/icons/linkedin.png)
				size: cover

	.bar
		width: 250px
		height: 0px
		border-top: 4px solid $aqua
		margin: 0px auto 30px
		@media (max-width: 690px)
			border-top: 2px solid $aqua
	
	a.is-link
		font: 
			size: 60px
			weight: 400
		color: $aqua
		text-align: center
		letter-spacing: 0.05em
		clear: both
		padding-top: 10px
		+transition

		&:hover
			color: $light-green

		@media (max-width: 690px)
			font: 
				size: 40px
	
		@media (max-width: 470px)
			font: 
				size: 23px