<section class="about"><div id="about"></div><h4>Обо мне</h4><div class="face-lockup"><div class="face-img"><span></span></div></div><p class="blurb"><strong>Привет! </strong><br/><strong>Я могу делать несложные качественные проекты.</strong><br/>    У меня есть опыт в графике, веб-дизайне, разработке мобильного ПО и программировании.
    На данный момент ищу интересную работу. Я готов стать частью команды, либо принять заказ.
    В виде заказа ожидаю графический дизайн или сайт-визитку. 
    Заранее рассчитаю свои силы и требуемое время.</p></section>